@ -0,0 +1,16 @@
Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/Aura.log
Content/Blueprints/Character/TestAI_Characters/SkeletonKnight/Meshy_AI_Skeleton_Knight_Armor_1228233356_texture.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMage2/BattleMageTripo1/tripo_convert_53c02449-39d9-41b7-9955-0be6941005c4.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMageTripo1/fantasy_warrior_3d_model.uasset
Content/Blueprints/Character/TestAI_Characters/UndeadGolbinWarrior2/UndeadGoblinWarrior2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SMK_Goblin2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Copy.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Copy1.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Fixed.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Fixed_Copy.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD3.uasset
