@ -0,0 +1,16 @@
Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/Aura.log
Content/Blueprints/Character/TestAI_Characters/SkeletonKnight/Meshy_AI_Skeleton_Knight_Armor_1228233356_texture.uasset
