@ -0,0 +1,16 @@
Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/Aura.log
Content/Blueprints/Character/TestAI_Characters/SkeletonKnight/Meshy_AI_Skeleton_Knight_Armor_1228233356_texture.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMage2/BattleMageTripo1/tripo_convert_53c02449-39d9-41b7-9955-0be6941005c4.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMageTripo1/fantasy_warrior_3d_model.uasset
Content/Blueprints/Character/TestAI_Characters/UndeadGolbinWarrior2/UndeadGoblinWarrior2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SMK_Goblin2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Copy.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Copy1.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Fixed.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Fixed_Copy.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD2.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_OLD3.uasset
Content/Blueprints/Character/TestAI_Characters/Goblin_Spear2/SKM_Goblin2_Fixed1.uasset
Content/Blueprints/Character/TestAI_Characters/GoblinSanityTest/tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac.uasset
Content/Blueprints/Character/TestAI_Characters/Tripo_GoblinSpear/COPY_tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac1.uasset
Content/Blueprints/Character/TestAI_Characters/Tripo_GoblinSpear/tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac.uasset
Content/Blueprints/Character/TestAI_Characters/Tripo_GoblinSpear2/tripo_convert_0bd6585a-0b8d-4d92-96ce-f1ef15a007b7.uasset
Content/Blueprints/Character/TestAI_Characters/Weapons/DemonSpear/SKM_DemonSpear.uasset
Content/Blueprints/Character/TestAI_Characters/Tripo_GoblinSpear/SKM_GoblinSpear3.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMageTripo1/fantasy_warrior_3d_model_COPY.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMageTripo1/fantasy_warrior_3d_model_COPY1.uasset
Content/Blueprints/Character/TestAI_Characters/BattleMageTripo1/fantasy_warrior_3d_model_COPY2.uasset
Content/Blueprints/Character/TestAI_Characters/Weapons/MagicStaff/SKM_MagicStaff.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/BattleMage2/BattleMageTripo1/tripo_convert_53c02449-39d9-41b7-9955-0be6941005c4.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Goblin_Spear2/SKM_Goblin2_Fixed.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Goblin_Spear2/SKM_Goblin2_Fixed1.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/GoblinSanityTest/tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/SkeletonKnight/Meshy_AI_Skeleton_Knight_Armor_1228233356_texture.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Tripo_GoblinSpear/COPY_tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac1.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Tripo_GoblinSpear/SKM_GoblinSpear3.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Tripo_GoblinSpear/tripo_convert_e4794548-a60e-4229-8737-f063e250d4ac.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/Tripo_GoblinSpear2/tripo_convert_0bd6585a-0b8d-4d92-96ce-f1ef15a007b7.uasset
Content/Blueprints/Character/TestAI_Characters/OldTests/UndeadGolbinWarrior2/UndeadGoblinWarrior2.uasset
Content/Blueprints/Character/TestAI_Characters/SpeedDemon/HighPoly/SpeedDemonHighPoly.uasset
Content/Blueprints/Character/TestAI_Characters/Weapons/LavaShield/SKM_LavaShield.uasset
